@import url("../../../assets/styles/_colors.scss");

.sidebar-container{
  position: fixed;
  width: 64px;
  left: 0;
  top: 0;
  bottom: 0;
  background: var(--green);
  z-index: 1000;
  transition: 0.3s;
  box-shadow: 20px 35px 50px #0000001A;
  &.open {
    width: 270px;
  }
  overflow: hidden;
  .content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 270px;
    padding: 10px 0;
    .option{
      height: max-content;
      width: inherit;
      display: grid;
      grid-template-columns: 64px 1fr;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      color: var(--green-dark-2);
      padding: 10px 0;
      position: relative;
      transition: all 0.2s ease-in-out;
      &.active{
        color: black;
        &::after{
          content: '';
          position: absolute;
          left: 0;
          height: 25px;
          width: 5px;
          background-color: black;
        }
      }
      &.add{
        margin-top: 15px;
        mat-icon{
          transform: scale(1.4);
          color: var(--pink);
        }
      }
      &:hover{
        background-color: rgba(0,0,0,0.1);
        &.logo{
          background-color: transparent;
        }
      }
      mat-icon, img{
        margin: 0 auto;
      }
    }
  }
}
