<div class="sidebar-container" [ngClass]="{'open': isExpanded }">
  <div class="content">
    <a class="option logo">
      <img src="../../../assets/images/logo.png" alt="Logo">
    </a>
    <a class="option" (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </a>
    <a class="option" (click)="toggleSidebar()">
      <mat-icon>dashboard</mat-icon>
    </a>
    <a class="option" (click)="toggleSidebar()">
      <i class="fa-solid fa-calendar-clock"></i>
    </a>
    <a class="option" (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </a>
    <a class="option" (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </a>
    <a class="option" (click)="toggleSidebar()">
      <mat-icon>add_to_photos</mat-icon>
    </a>
    <a class="option" (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </a>
    <a class="option" (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </a>
  </div>
</div>
