@import url("../../../assets/styles/_colors.scss");

.content{
  height: 100vh;
  width: 100%;
  background-image: url("../../../assets/images/webconstruction.png");
  background-position: center;
  background-repeat: none;
}
