<div class="content-wrapper">
  <div class="search-bar-wrapper">
    <div class="content">
      <div class="title">
        <span>Tarefas</span>
        <div class="flex"><i class="fa-regular fa-clock"></i>5h</div>
        <div class="default-circle">10</div>
      </div>
      <div class="flex">
        <div class="input-container">
          <i class="fa-solid fa-magnifying-glass"></i>
          <input matInput type="text" placeholder="Pesquisar por Tarefa..."
          [(ngModel)]="textFilter" (focusout)="filterData()">
        </div>
        <button mat-raised-button class="cta-filter">
          FILTRAR
          <i class="fa-solid fa-filter"></i>
        </button>
        <button mat-raised-button class="cta-filter add" (click)="openDialog()">
          NOVA
          <i class="fa-solid fa-plus"></i>
        </button>
        <button mat-icon-button>
          <mat-icon>notifications</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>zoom_out_map</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="loading" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="flow-wrapper">
    <div cdkDropListGroup class="columns-container">
      <div class="column">
        <div class="top">
          <span class="title">
            Aguardando
          </span>
          <div class="flex">
            <div class="flex"><i class="fa-regular fa-clock"></i>1h</div>
            <div class="default-circle">{{cards.aguardando.length}}</div>
          </div>
        </div>
        <div cdkDropList [cdkDropListData]="cards.aguardando" class="card-list" (cdkDropListDropped)="drop($event)">
          <app-card [data]="item" *ngFor="let item of cards.aguardando" cdkDrag cdkDragBoundary=".columns-container"></app-card>
          <!-- [cdkDragStartDelay]="50" -->
        </div>
      </div>

      <div class="column">
        <div class="top">
          <span class="title">
            Em andamento
          </span>
          <div class="flex">
            <div class="flex"><i class="fa-regular fa-clock"></i>1h</div>
            <div class="default-circle">{{cards.emAndamento.length}}</div>
          </div>
        </div>
        <div cdkDropList [cdkDropListData]="cards.emAndamento" class="card-list" (cdkDropListDropped)="drop($event)">
          <app-card [data]="item" *ngFor="let item of cards.emAndamento" cdkDrag cdkDragBoundary=".columns-container"></app-card>
        </div>
      </div>

      <div class="column">
        <div class="top">
          <span class="title">
            Pendencia
          </span>
          <div class="flex">
            <div class="flex"><i class="fa-regular fa-clock"></i>1h</div>
            <div class="default-circle">{{cards.pendencia.length}}</div>
          </div>
        </div>
        <div cdkDropList [cdkDropListData]="cards.pendencia" class="card-list" (cdkDropListDropped)="drop($event)">
          <app-card [data]="item" *ngFor="let item of cards.pendencia" cdkDrag cdkDragBoundary=".columns-container"></app-card>
        </div>
      </div>

      <div class="column">
        <div class="top">
          <span class="title">
            Finalizado
          </span>
          <div class="flex">
            <div class="flex"><i class="fa-regular fa-clock"></i>1h</div>
            <div class="default-circle">{{cards.finalizado.length}}</div>
          </div>
        </div>
        <div cdkDropList [cdkDropListData]="cards.finalizado" class="card-list" (cdkDropListDropped)="drop($event)">
          <app-card [data]="item" *ngFor="let item of cards.finalizado" cdkDrag cdkDragBoundary=".columns-container"></app-card>
        </div>
      </div>

      <div class="column">
        <div class="top">
          <span class="title">
            Outros
          </span>
          <div class="flex">
            <div class="flex"><i class="fa-regular fa-clock"></i>1h</div>
            <div class="default-circle">{{cards.outros.length}}</div>
          </div>
        </div>
        <div cdkDropList [cdkDropListData]="cards.outros" class="card-list" (cdkDropListDropped)="drop($event)">
          <app-card [data]="item" *ngFor="let item of cards.outros" cdkDrag cdkDragBoundary=".columns-container"></app-card>
        </div>
      </div>

    </div>
  </div>
</div>
