<div class="content-master">
  <!-- Accordion -->
  <div class="section" [ngClass]="{ 'active' : section == 0 }">
    <app-under-construciton-component *ngIf="section == 0 || auxSection == 0"></app-under-construciton-component>
  </div>
  <div class="column" (click)="changeSection(0)">
    <mat-icon>work</mat-icon>
    <mat-icon>{{ section == 0 ? "chevron_left" : "navigate_next" }}</mat-icon>
    <button mat-mini-fab disabled>
        3
    </button>
  </div>

  <!-- Accordion -->
  <div class="section" [ngClass]="{ 'active' : section == 1 }">
    <app-kanban-panel *ngIf="section == 1 || auxSection == 1"></app-kanban-panel>
  </div>
  <div class="column" (click)="changeSection(1)">
    <mat-icon>call_split</mat-icon>
    <mat-icon>{{ section <= 1 ? "chevron_left" : "navigate_next" }}</mat-icon>
    <button mat-mini-fab disabled>
        2
    </button>
  </div>

  <!-- Accordion -->
  <div class="section" [ngClass]="{ 'active' : section == 2 }">
    <app-under-construciton-component *ngIf="section == 2 || auxSection == 2"></app-under-construciton-component>
  </div>
  <div class="column" (click)="changeSection(2)">
    <mat-icon>check_circle</mat-icon>
    <mat-icon>{{ section <= 2 ? "chevron_left" : "navigate_next" }}</mat-icon>
    <button mat-mini-fab disabled>
        2
    </button>
  </div>

<!-- Accordion -->
  <div class="section" [ngClass]="{ 'active' : section == 3 }">
    <app-under-construciton-component *ngIf="section == 3 || auxSection == 3"></app-under-construciton-component>
  </div>
</div>
