<div class="content-master">
  <div class="section" [ngClass]="{ 'active' : section == 0 }">
    <app-under-construciton-component *ngIf="section == 0"></app-under-construciton-component>
  </div>
  <div class="column" (click)="section = 0">

  </div>

  <div class="section" [ngClass]="{ 'active' : section == 1 }">
    <app-under-construciton-component *ngIf="section == 1"></app-under-construciton-component>
  </div>
  <div class="column" (click)="section = 1">

  </div>

  <div class="section" [ngClass]="{ 'active' : section == 2 }">
    <app-under-construciton-component *ngIf="section == 2"></app-under-construciton-component>
  </div>
  <div class="column" (click)="section = 2">

  </div>


  <div class="section" [ngClass]="{ 'active' : section == 3 }">
    <app-under-construciton-component *ngIf="section == 3"></app-under-construciton-component>
  </div>
  <div class="column" (click)="section = 3">

  </div>
</div>
