:root,
:host {
  --padrao-dark: #000000E6;
  --padrao-dark-2: #00000080;
  --green: #8CC587;
  --green-dark: #107154;
  --green-dark-2: #3A5138;
  --yellow: #F7E702;
  --red: #A31E20;
  --pink: #D60297;
}
